<div>

    <h1>Aufgabe bearbeiten</h1>


    <form role="form">
        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                  <label>Aufgabe:</label>
                  <input type="text" class="form-control" ng-model="task.text">
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                  <label>Name:</label>
                  <input type="text" class="form-control" ng-model="task.name">
                </div>
            </div>

            <button type="button" class="btn btn-danger" ng-click="deleteTodo(task._id)">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
            <button class="btn btn-primary" ng-click="saveTask()"><i class="glyphicon glyphicon-floppy-disk"></i> {{buttonText}}</button>
            <a class="btn btn-default" href= "#/toDos"><i class="glyphicon glyphicon-remove"></i> Abbrechen </a>
        </div>
    </form>

</div>
